<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDVmF9wYu46VMDG9qPBGwpLVJwK2v1UeMU</string>
	<key>GCM_SENDER_ID</key>
	<string>817692559998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.drsync.eCommerce.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ecommerce-37f21</string>
	<key>STORAGE_BUCKET</key>
	<string>ecommerce-37f21.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:817692559998:ios:a7187e6b7939ac69ed662f</string>
</dict>
</plist>